* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8d6;

}

header img {
    height: 120px;
    width: 120px;
}
header nav {
    width: 400px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a:link {
    text-decoration: none;
}
header nav a:hover {
    color: #f00;
}

.main {
    height: 500px;
    display: flex;
}

.main section {
    flex: 4;
    background-color: #b3c67f;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.box {
    width: 100%;
    display: grid;
    grid-template-areas: 'personal'
                         'profissional';
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    text-align: center;
    align-content: center;
    background-color:rgba(0, 128, 128, 0.4);
}
.box .personal {
    display: flex;
    flex-direction: column;
    grid-area: personal;
}
.box .profissional {
    display: flex;
    flex-direction: column;
    grid-area: profissional;
}
.box input {
    width: 400px;
}
.city input {
    width: 297px;
}
.adress input {
    width: 380px;
}
.local input {
    width: 340px;
}
.cnpj input {
    width: 410px;
}
.main aside {
    flex: 1;
    background-color: #5d7e62;
}

.main table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    text-align: left;
}

.main td, th {
  border: 1px solid #fff;
  text-align: left;
  padding: 8px;

}

.main th {
    background-color:mediumseagreen;
} 

.main tr:nth-child(even) {
  background-color: darkseagreen;
} 

.name, .adress, .city, .state, .email, .password, .company, .local, .company-city, .cnpj {
    padding: 8px;
}
footer {
    height: 109px;
    background-color: #50595c;
}