* {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: #f8f8d6;

}

header img {
    height: 120px;
    width: 120px;
}
header nav {
    width: 300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header nav a:link {
    text-decoration: none;
}
header nav a:hover {
    color: #f00;
}

.main {
    height: 500px;
    display: flex;

}

.main section {
    flex: 4;
    background-color: #b3c67f;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.main aside {
    flex: 1;
    background-color: #5d7e62;
}

footer {
    height: 109px;
    background-color: #50595c;
}